<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="{{ bookPage.page | default(title) }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://sheets.wiki/static/img/icon.svg"/>
    <meta property="og:url" content="placeholder"/>
    <script>
      // Dynamically set og:url meta tag based on current page URL
      document.querySelector('meta[property="og:url"]').setAttribute('content', window.location.href);
    </script>

    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
      <meta property="og:description" content="{{description}}"/>
    {% endif %}

    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    {% if noindex != true %}
        <meta name="robots" content="index">
    {% endif %}
  </head>
  <body>
    <div class="contentwrapper">
      {% include "./partials/navbar.html" %}

      <div class="maincontent">
        {{ content | safe }}
      </div>

      {% include "./partials/footer.html" %}
    </div>

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>