---
layout: default
pagination:
  data: collections.bookPages
  size: 1
  alias: bookPage
permalink: "books/{{ bookPage.bookTitle | slugify }}/{% if bookPage.chapterName %}{{ bookPage.chapterName | slugify}}/{% endif %}{{ bookPage.page | slugify }}/index.html"
---

{%- for item in pagination.items %}

    {# setting variables for use later on #}

    {% set book = item.bookTitle %}
    {% set bookdata = collections.datafp.get("books", book | slugify)[0] %}
    {% set list = bookdata.data.items %}

    <div>
        <aside class="self-start sticky top-0 col-span-1">
            {% include "../_includes/partials/sidebar.njk" %}
        </aside>
        
        <main class="pagecontainer">
            {% set current = collections.datafp.get("pages", item.page)[0] %}

            {# header stuff #}

            <div class="pb-5 mb-5 border-b border-gray-100">
                    <h1 class="font-bold text-5xl">{{current.data.title}}</h1>
                    <p class="text-center text-base leading-6 font-medium text-gray-500">
                        {% if current.data.author %}
                            <time> {{ current.data.date | readableDate }}
                                by
                                <a>{{ current.data.author }}</a>
                            </time>
                        {% else %}
                            <time> {{ current.data.date | readableDate }} </time>
                        {% endif %}
                    </p>

                    {# previous and next page buttons #}

                    <nav class="pagination text-center">
                        {% if pagination.previousPageLink %}
                            {% if pagination.previousPageHref.split('/')[2] === book | slugify %}
                                <a class="pagination__item" href="{{ pagination.previousPageHref}}">Previous</a>
                            {% endif %}
                        {% endif %}

                        <a class="pagination__item" href="/books/{{ book | slugify }}">To book home</a>
                        
                        {% if pagination.nextPageLink %}
                            {% if pagination.nextPageHref.split('/')[2] === book | slugify %}
                                <a class="pagination__item" href="{{ pagination.nextPageHref}}">Next</a>
                            {% endif %}
                        {% endif %}
                    </nav>
                </div>

                {# actual content #}

                <article class="prose lg:prose-xl my-4 mx-auto">
                    {{ current.content | wrapTableInDiv | safe }} </article>

                {# comments #}

                <script src="https://utteranc.es/client.js"
                    repo="Astral1119/sheets-wiki"
                    issue-term="og:title"
                    label="🔮"
                    theme="preferred-color-scheme"
                    crossorigin="anonymous"
                    async>
                </script>
            </div>
        </main>
    </div>
{% endfor -%}