---
layout: default
pagination:
  data: collections.shelves
  size: 1
  alias: shelf
permalink: "{{ shelf | slugify }}/index.html"
---

{%- for shelf in pagination.items %}
    <h1>{{ shelf }}</h1>
    <div class = "shelf third">
        {% for book in collections.shelves[shelf] %}
                <a href="../../books/{{ book.name | slugify }}/" class="grid-card">
                <h2 class="font-bold text-3xl text-gray-900 mb-2">
                    {{ book.name }}
                </h2>
                <p class="description">
                    {{ book.description }}
                </p>
            </a>
        {% endfor %}
    </div>
{% endfor -%}