<button onclick="jump()" id="scrollButton">Scroll to Top</button>

<script>
    // Get the button:
    let scrollButton = document.getElementById("scrollButton");
    let scrollContainer = document.getElementsByClassName("maincontent")[0];

    scrollContainer.addEventListener('scroll', function() {
        if (scrollContainer.scrollTop > 100) {
            scrollButton.style.display = 'block';
        } else {
            scrollButton.style.display = 'none';
        }
    });

    // When the user clicks on the button, scroll to the top of the scrollContainer
    function jump() {
        scrollContainer.scrollTop = 0; // For the scrollable container
    }
</script>