<button onclick="jump()" id="scrollButton">Scroll to Top</button>
<script>
    // Get the button:
    let mybutton = document.getElementById("scrollBtn");

    document.addEventListener('scroll', function() {
        const button = document.getElementById('scrollButton');
        if (window.scrollY > 20) {
            button.style.display = 'block';
        } else {
            button.style.display = 'none';
        }
    });

    // When the user clicks on the button, scroll to the top of the document
    function jump() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>